øving1/.vscode
øving1/.DS_Store
øving2/rest.zip
øving2/HELP.md
øving2/mvnw
øving2/Øving2.txt
øving2/jsonfiles
øving2/mvnw.cmd
øving2/rest.iml
øving2/target
.DS_Store
exercise1/.vscode/settings.json
exercise2/rest.zip
exercise2/rest/.gitignore
exercise2/rest/.mvn/wrapper/MavenWrapperDownloader.java
exercise2/rest/.mvn/wrapper/maven-wrapper.jar
exercise2/rest/.mvn/wrapper/maven-wrapper.properties
exercise2/rest/jsonfiles/Authors.json
exercise2/rest/jsonfiles/Books.json
exercise2/rest/mvnw
exercise2/rest/mvnw.cmd
"exercise2/rest/\303\230ving2.txt"
exercise3/.gitignore
exercise3/.mvn/wrapper/MavenWrapperDownloader.java
exercise3/.mvn/wrapper/maven-wrapper.jar
exercise3/.mvn/wrapper/maven-wrapper.properties
exercise3/jsonfiles/Authors.json
exercise3/jsonfiles/Books.json
exercise3/mvnw
exercise3/mvnw.cmd
"exercise3/\303\230ving2.txt"
node_modules
